<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-92186899-2"></script>
  <script>window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());
  gtag('config', 'UA-92186899-2');
  </script><!-- Twitter Card data-->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@handytec">
  <meta name="twitter:title" content="handytec – Big Data Analytics">
  <meta name="twitter:description"
        content="Big Data Analytics para solucionar las problemáticas más complejas a las que se enfrenta tu organización.">
  <meta name="twitter:creator" content="@handytec">
  <meta property="fb:app_id" content="966242223397117">
  <meta name="description"
        content="Big Data Analytics para solucionar las problemáticas más complejas a las que se enfrenta tu organización.">
  <meta property="og:description"
        content="Big Data Analytics para solucionar las problemáticas más complejas a las que se enfrenta tu organización.">
  <meta name="keywords"
        content="Analítica de Datos, Cognitive computing, Machine Learning, Inteligencia Artificial, Big Data, handytec, HandytecMobi S.A., Big Data Ecuador">
  <meta name="author" content="Handytecmobi S.A.">
  <meta property="og:image" content="https://www.handytec.mobi/images/og/handytec.jpg">
  <!-- Twitter summary card with large image must be at least 280x150px-->
  <meta name="twitter:image:src" content="https://www.handytec.mobi/images/og/handytec.jpg"><!-- Open Graph data-->
  <meta property="og:title" content="handytec – Big Data Analytics">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://www.handytec.mobi/">
  <meta property="og:site_name" content="Handytecmobi S.A.">
  <meta name="“google-site-verification”" content="“2RviMOge5Z1Aq08BsexJmTEiSVyMuaz8NOa0ZYq0g6k”">

</head>

</html>

<body>


<router-outlet></router-outlet>



<div class="footer-img">
  <div class="container-fluid">
    <footer class="page-footer">

      <div class="footer-direccion">
        <div class="row">
          <div class="col-md-3 m-auto justWeb">
            <div><a href="/"><img src="https://www.handytec.mobi/images/logos/handytec_logo_index.svg" alt="handytec" height="40px"></a></div>
            <br>
            <h6>© 2020 HANDYTECMOBI S.A. Todos los derechos reservados.</h6>
          </div>
          <div class="col-md-6 m-auto">
            <div class="row" style="margin-top: 20px;">
              <div class="col-12 leftMobiles">
                <div><a style="font-size: 12px;">Av. República de El Salvador N35-82 y Portugal &#124; Quito, Ecuador
                  &#124;</a></div>
                <div><a style="font-size: 12px;">+593 (02) 224 3559</a></div>
                <div><a style="font-size: 12px;">contact@handytec.mobi</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 m-auto leftMobiles"><br>
            <h5 class="font-weight-bold" style="font-size: 15px;">SÍGUENOS</h5>
            <div class="row-img leftMobiles"><a href="https://www.linkedin.com/company/handytec" target="_blank"><img
              class="footer-icon" src="https://www.handytec.mobi/images/logos/linkedin_logo.png" alt="LinkedIn"></a><a
              href="https://twitter.com/handytec" target="_blank"><img class="footer-icon"
                                                                       src="https://www.handytec.mobi/images/logos/twitter_logo.png" alt="Twitter"></a><a href="https://www.facebook.com/handytec"
                                                                                                                                                          target="_blank"><img class="footer-icon" src="https://www.handytec.mobi/images/logos/facebook_logo.png" alt="Facebook"></a><a
              href="http://chat.handytec.mobi" target="_blank"><img class="footer-icon"
                                                                    src="https://www.handytec.mobi/images/logos/slack_logo.png" alt="Slack"></a></div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<script src="/js/main.js"></script>
<script type="application/ld+json">{
  "@context": "https://schema.org",
  "@type": "Organization",
  "url": "https://www.handytec.mobi",
  "name": "handytec",
  "sameAs" : [
  "https://www.facebook.com/handytec/",
  "https://twitter.com/handytec",
  "https://www.linkedin.com/company/handytec/"
  ],
  "address": {
  "@type": "PostalAddress",
  "streetAddress": "N35-82 República de El Salvador y Portugal",
  "addressRegion": "EC",
  "addressLocality": "Quito",
  "postalCode": "170505",
  "addressCountry": "EC"
  },
  "contactPoint": {
  "@type": "ContactPoint",
  "telephone": "02-224-3559",
  "contactType": "Customer service"
  }
  }</script>
</body>
